<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>사용자 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    th:onclick="|location.href='@{/manage/users/add}'|"
                    type="button">사용자 등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>사용자명</th>
                <th>비밀번호</th>
                <th>나이</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td><a href="user.html" th:href="@{/manage/users/{userId}(userId=${user.id})}" th:text="${user.id}">사용자id</a></td>
                <td><a href="user.html" th:href="@{|/manage/users/${user.id}|}" th:text="${user.userName}">사용자명</a></td>
                <td th:text="${user.password}">10000</td>
                <td th:text="${user.age}">10</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>