<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
          .container {
              max-width: 560px;
} </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>사용자 상세</h2> </div>
    <div>
        <h2 th:if="${param.status}" th:text="'저장 완료!'"></h2>
        <label for="userId">사용자 ID</label>

        <input type="text" id="userId" name="userId" class="form-control"
               value="1" th:value="${user.id}" readonly>
    </div> <div>
    <label for="userName">사용자명</label>
    <input type="text" id="userName" name="userName" class="form-control"
           value="사용자A" th:value="${user.userName}" readonly> </div>
    <div>
        <label for="password">비밀번호</label>
        <input type="text" id="password" name="password" class="form-control"
               value="비밀번호" th:value="${user.password}" readonly>
    </div> <div>
    <label for="age">나이</label>
    <input type="text" id="age" name="age" class="form-control"
           value="10" th:value="${user.age}" readonly>
</div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/manage/users/{userId}/edit(userId=${user.id})}'|" type="button">사용자 정보 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/manage/users}'|" type="button">목록으로</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>